{% extends "base.html" %}
{% block content %}
<h2>Проверка номера телефона</h2>
<form method="post" novalidate>
    <div class="mb-3">
        <label for="phone" class="form-label">Введите номер телефона</label>
        <input type="text" class="form-control {% if error %}is-invalid{% endif %}" id="phone" name="phone" value="{{ phone_input }}" placeholder="+7 (123) 456-75-90">
        {% if error %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Проверить</button>
</form>

{% if formatted_phone %}
<hr>
<h4>Отформатированный номер телефона:</h4>
<p class="fs-4">{{ formatted_phone }}</p>
{% endif %}
{% endblock %}
